/*	RobotoCondensed Bold */


@font-face {
	font-family: RobotoCondensed;
	src:
		url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot?') format('eot'),
		url("../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"),
		url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.woff') format('woff'),
		url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.ttf')  format('truetype'),
		url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.svg#RobotoCondensed') format('svg');
	font-weight: 700;
	font-style: normal;
}

/*	RobotoCondensed Light */

@font-face {
	font-family: RobotoCondensed;
	src:
		url('../fonts/RobotoCondensed-Light/RobotoCondensed-Light.eot?') format('eot'),
		url("../fonts/RobotoCondensed-Light/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"),
		url('../fonts/RobotoCondensed-Light/RobotoCondensed-Light.woff') format('woff'),
		url('../fonts/RobotoCondensed-Light/RobotoCondensed-Light.ttf')  format('truetype'),
		url('../fonts/RobotoCondensed-Light/RobotoCondensed-Light.svg#RobotoCondensed') format('svg');
	font-weight: 300;
	font-style: normal;
}

/*	Roboto Light */

@font-face {
	font-family: Roboto;
	src:
		url('../fonts/Roboto-Light/Roboto-Light.eot?') format('eot'),
		url("../fonts/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"),
		url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light/Roboto-Light.ttf')  format('truetype'),
		url('../fonts/Roboto-Light/Roboto-Light.svg#Roboto') format('svg');
	font-weight: 300;
	font-style: normal;
}

/*	Roboto Regular */

@font-face {
	font-family: Roboto;
	src:
		url('../fonts/Roboto-Regular/Roboto-Regular.eot?') format('eot'),
		url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
		url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'),
		url('../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto') format('svg');
	font-weight: 400;
	font-style: normal;
}

ul,ol{padding: 0;margin: 0;}
*{outline: 0 !important;}
li{list-style-type: none;}
h1,h2,h3,h4,p, .h1, .h2, .h3, .h4{line-height: normal;margin: 0;padding: 0;}
html {height: 100%;}
a,a:hover,a:focus,a:active{text-decoration: none;}
body {line-height: normal;color: #000;height: 100%;background-color: #2a2d34;}
.container {
	width: 1200px;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}
.content {
  width: calc(100% - 50px);
  float: right;
}
body {
	background-image: url(../images/body_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	font-family: Roboto;
}
section.entry {
	text-align: center;
	background-image: url(../images/lines_logo.png);
	background-repeat: no-repeat;
	background-position: center;
  margin-left: -50px;
}
section.entry .entry_logo {
	margin: 100px auto;
	position: relative;
}
section.entry .entry_logo p {
	color: #ffffff;
	font-family: RobotoCondensed;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
  padding: 21px 0 0;
}
section.entry form.entry {
	text-align: center;
  margin: -4px 0 0;
}
.form-control {
  height: 40px;
  font-size: 18px;
}
section.entry form.entry input {
	padding: 0 15px;
	width: 370px;
	margin: auto;
}
section.entry form.entry input[type="text"] {
  margin-bottom: 40px;
  display: block;
}
section.entry form.entry input[type="submit"] {
	width: 170px;
	background-color: #e7583a;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
  padding: 10px 0;
  border: 0;
  display: inline-block;
}
section.entry form.entry a.license {
  color: #d2d2d2;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  padding: 1px 23px 5px;
  vertical-align: super;
  position: relative;
}
section.entry form.entry a.license:after {
	position: absolute;
	content: '';
	bottom: 1px;
	left: 24px;
	background-color: #d2d2d2;
	width: 148px;
	height: 1px;
}
.form-control, 
.form-group .form-control {
	background-color: rgba(255, 255, 255, 0.3);
}
header {
	height: 50px;
	box-shadow: 0 10px 10px rgba(6, 11, 15, 0.1);
	background-color: #1c1c1c;
	z-index: 100;
	position: fixed;
	float: right;
	width: calc(100% - 50px);
	z-index: 9999;
}
header .logo {
	display: inline-block;
  margin-right: 19px;	
}
header .logo img {
	display: block;
	padding: 12px 0;
}
header ul.main_menu {
	display: inline-block;
  vertical-align: top;	
}
header ul.main_menu > li {
	display: inline-block;
}
header ul.main_menu > li > a {
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
  padding: 15px 0 14px 35px;
  position: relative;
}
header ul.main_menu > li > a.router-link-active:after {
  position: absolute;
  content: '';
  bottom: -2px;
  right: 0;
  left: 38px;
  width: 40px;
  height: 2px;
  background-color: #e7583a;
  margin: auto;
}
header .user {
	display: inline-block;
	vertical-align: top;
	float: right;
}
header .user a.notification {
	display: inline-block;
	position: relative;
	vertical-align: top;
  padding: 16px 18px;
}
header .user a.notification b {
  position: absolute;
  content: '';
  top: 13px;
  right: 14px;
  width: 10px;
  height: 10px;
  background-color: #e7583a;
  color: #ffffff;
  font-size: 6px;
  font-weight: 300;
  padding: 1px 3px;
}
header .user a.message {
	display: inline-block;
	position: relative;
  vertical-align: top;
  padding: 16px 12px;
}
header .user a.message b {
  position: absolute;
  content: '';
  top: 13px;
  right: 7px;
  width: 10px;
  height: 10px;
  background-color: #e7583a;
  color: #ffffff;
  font-size: 6px;
  font-weight: 300;
  padding: 1px 3px;
}
header .user p.name,
header .user p.surname {
	display: inline-block;
	color: #d2d2d2;
	font-size: 16px;
	font-weight: 300;
	padding: 15px 0 15px 17px;
}
header .user p.surname {
	padding: 15px 10px 15px 0;
}
header .user a.logout {
  display: inline-block;
  padding: 0 41px 0 10px;
  position: relative;
  width: 20px;
  height: 20px;
}
header .user a.logout:after {
	content: '';
	position: absolute;
	width: 20px;
	height: 21px;
	background-image: url(../images/logout.png);
	top: 3px;
	left: 0;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}
header .user a.logout:hover::after {
	background-image: url(../images/logout_hover.png);
}
aside {
	max-width: 350px;
}
aside .left_side {
	background-color: #1f2125;
	text-align: center;
	height: 100%;
  position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	z-index: 9998;
}
aside .left_side .burger {
	display: inline-block;
  background-color: #1c1c1c;
  width: 50px;
  height: 50px;
	vertical-align: top;	
}
aside .left_side .burger img {
  margin: 15px 5px;
  opacity: 0;
}
section.purse {
  margin-top: 50px;
	margin-left: 285px;
}
aside .purses p.purse {
	padding: 20px 0 0px;
}
aside .purses p.purse a {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #2a2d34;
	border: 1px solid #2a2d34;
	border-radius: 100px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	position: relative;
	z-index: 100;
}
aside .purses p.purse.active a {
	border: 1px solid #e7583a;
	background-color: #2a2d34;
}
aside .purses p.purse a > b {
	display: none;
	position: absolute;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}
aside .purses p.purse a:hover > b {
	display: block;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
	color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  top: 5px;
  padding: 0px 41px;
}
aside .purses p.purse a > b:after {
	content: '';
  opacity: 0;
 	width: 192px;
  height: 30px;
  background-image: url(../images/tooltip.png);
  background-repeat: no-repeat;
  top: -6px;
  left: -2px;
  z-index: -10;
  position: absolute;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}
aside .purses p.purse a > b:hover::after {
  opacity: 1;
}
aside .purses p.add_purse {
	margin-top: 20px;
}
aside .purses p.add_purse a {
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	background-color: #1f2125;
	border: 1px dashed #808080;
	border-radius: 100px;
	color: #808080;
	font-size: 23px;
	font-weight: 400;
	line-height: 28px;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}
aside .purses p.add_purse a:hover {
	color: #ffffff;
	border: 1px dashed #ffffff;
}
section.purse p.hello {
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
  padding: 55px 0 55px 50px;
}
section.purse p.hello > i.name,
section.purse p.hello > i.surname {
	display: inline-block;
	font-style: normal;
}
section.purse p.hello > i.surname {
	padding: 0;
}
section.purse .purse_cards {
	margin-left: 50px;
}
section.purse .purse_card {
	display: inline-block;
	width: 285px;
	min-height: 394px;
	background-color: #1f2125;
  margin: 4px 20px 56px 0;
  border-bottom: 2px solid #e7583a;
}

section.purse .purse_card_info div {
	    min-height: 132px;
}

section.purse .purse_card.payeer .purse_title {
	background-color: #0099de;
}
section.purse .purse_card .purse_title {
	color: #ffffff;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}
section.purse .purse_card .purse_title p {
	display: inline-block;
	padding: 9px 20px;
}
section.purse .purse_card .purse_title img {
	top: 50%;
	transform: translateY(-50%);
 	right: 16px;
 	position: absolute;
}
section.purse .purse_card .function {
	height: 50px;
	position: relative;
	background-color: #36383b;
}
section.purse .purse_card .function p {
	position: absolute;
	color: #ffffff;
	font-size: 14px;
	font-weight: 300;
	padding: 0 19px 0;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
section.purse .purse_card .purse_card_info p.balance {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	position: relative;
  padding: 27px 19px 12px;
  margin-bottom: 20px;
}
section.purse .purse_card .purse_card_info p.balance:after {
	position: absolute;
	content: '';
	width: 30px;
	height: 2px;
	background-color: #e7583a;
	bottom: 0;
	left: 20px;
}
section.purse .purse_card .purse_card_info p.money {
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
  padding: 5.5px 21px;
}
section.purse .purse_card .buttons {
  padding: 30px 0 0;
}
section.purse .purse_card .buttons a:first-child {
	border: 2px solid #e7583a;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	padding: 9px 14px;
	margin: 0 20px;
}
section.purse .purse_card .buttons a:first-child i {
	font-style: normal;
}
section.purse .purse_card .buttons a.delete {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	position: relative;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}
section.purse .purse_card .buttons a.delete:hover {
	color: #ffffff;
}
section.purse .purse_card .buttons a.delete:after {
	content: '';
	position: absolute;
	width: 62px;
	height: 1px;
	background-color: #808080;
	bottom: -2px;
	left: 0;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}
section.purse .purse_card .buttons a.delete:hover::after {
	background-color: #ffffff;
}
section.purse .purse_card.perfect_money .purse_title {
	background-color: #e30e1b;
}
section.purse .purse_card.qiwi .purse_title {
	background-color: #f8981d;
}
section.purse .purse_card.adv .purse_title {
	background-color: #00c170;
}
.modal_block {
	width: 350px;
	background-color: #2a2d34;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 10010;
  max-width: 100%;
}
.modal_block {
	-webkit-transform: translateX(-350px);
	-ms-transform: translateX(-350px);
 	-o-transform: translateX(-350px);
 	transform: translateX(-350px);
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
	overflow-y: auto;
}
.modal_block.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.modal_block a.close_modal {
	display: inline-block;
	position: absolute;
	right: 14px;
	top: 14px;
}
.wrapper.active {
	overflow: hidden !important;
}
.wrapper.active::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	opacity: .5;
	background: #000;
	z-index: 9996;
}
body.active {
	overflow: hidden !important;
}
body.active::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	opacity: .5;
	background: #000;
	z-index: 9996;
}
.modal_block p.navigation {
	display: inline-block;
	position: relative;
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
	padding: 9px 48px;
}
.modal_block p.navigation:after {
	position: absolute;
	content: '';
	width: 30px;
	height: 2px;
	background-color: #e7583a;
	bottom: 0;
	left: 50px;
}
.modal_block ul.main_menu {
	margin-top: 20px;
}
.modal_block ul.main_menu > li > a {
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
  padding: 13px 19px 13px 50px;
  display: inline-block;
}
.modal_block ul.main_menu > li > a.router-link-active {
	display: block;
	background-color: #232428;
	border-right: 2px solid #e7583a;
}
aside .left_side {
	display: inline-block;
}
aside .right_side {
	display: inline-block;
	width: 300px;
	border-left: 1px solid #2a2d34;
	background-color: #1f2125;
	height: 100%;
	top: 50px;
	position: fixed;
	left: 50px;
	overflow: scroll;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
	z-index: 9997;
}
/* хром, сафари */
aside .right_side::-webkit-scrollbar { width: 0; }
/* ie 10+ */
aside .right_side { -ms-overflow-style: none; }
/* фф (свойство больше не работает, других способов тоже нет)*/
aside .right_side { overflow: -moz-scrollbars-none; padding: 10px 0; }
aside .right_side a.name_purse {
	display: block;
	height: 60px;
  margin: 20px 0;
  padding-left: 9px;
}
aside .right_side a.name_purse.payeer i {
	background-color: #0099de;
}
aside .right_side a.name_purse i {
	display: inline-block;
	width: 60px;
	height: 60px;
	position: relative;
	z-index: 2;
}
aside .right_side a.name_purse i > img {
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 	position: absolute;
}
aside .right_side a.name_purse .name_purse_text {
	height: 60px;
	display: inline-block;
	vertical-align: top;
  margin-left: 15px;	
}
aside .right_side a.name_purse .name_purse_text b {
	display: block;
	color: #ffffff;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
  padding: 3px 0 2px;
  z-index: 2;
}
aside .right_side a.name_purse .name_purse_text .for_align p {
 	display: block;
 	color: #d2d2d2;
	font-size: 12px;
	font-weight: 300;
	top: 50%;
	transform: translateY(-50%);
 	position: absolute;
 	width: 170px;
 	line-height: 14px;
 	z-index: 2;
}
aside .right_side a.name_purse .name_purse_text .for_align {
 	height: 30px;
 	width: 100%;
	position: relative;
	display: inline-block;
}
aside .right_side a.name_purse.router-link-active {
  display: block;
  background-color: #282a2d;
  border-right: 2px solid #e7583a;
  position: relative;
}
aside .right_side a.name_purse.qiwi i {
	background-color: #f8981d;
}
aside .right_side a.name_purse.adv i {
	background-color: #00c170;
}
section.add_purse {
  padding: 50px 0;
}
section.add_purse .add {
  width: 390px;
  position: relative;
  display: block;
 	background-color: #1f2125;
	margin: 60px 0 0 350px;
}
section.add_purse .add p.title {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	padding: 16px 19px 12px;
}
section.add_purse .add p.title:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;
	background-color: #e7583a;
	bottom: 0;
	left: 20px;
}
section.add_purse .add form {
	padding-top: 18px;
}
section.add_purse .add form .form-group {
	margin: 0;
}
section.add_purse .add .select,
section.add_purse .add .score,
section.add_purse .add .api_id,
section.add_purse .add .api_key,
section.add_purse .add .textarea {
	padding: 7px 19px;
  position: relative;	
}
section.add_purse .add .select select {
	display: block;    
  height: 40px;
  padding: 0 17px;
  border: 0;
  outline: none;
  font-size: 20px;
  width: 100%;
/* 	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  color: #ffffff;
  font-weight: 700;
  background-color: #0099de;
  margin-bottom: 9px;
}
/*section.add_purse .add .select:after {
  content:"▼";    
  padding: 12px 8px;
  position: absolute; 
  right: 10px; 
  top: 0;    
  z-index: 1;
  text-align: center;
  width: 7px;
  height: 5px;      
  pointer-events: none;
  box-sizing: border-box;
  color: #ffffff;  
}*/
section.add_purse .add label {
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
}
section.add_purse .add form input,
section.add_purse .add form textarea {
	background-color: #36383b;
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	padding: 0 20px;
}
section.add_purse .add form textarea {
	padding: 7px 20px 0;
}
section.add_purse .add form .form-control::-moz-placeholder {
  font-size: 16px !important;
  color: #808080;
}
section.add_purse .add form .form-control:-ms-input-placeholder {
  font-size: 16px !important;
  color: #808080;
}
section.add_purse .add form .form-control::-webkit-input-placeholder {
  font-size: 16px !important;
  color: #808080;
}
section.add_purse .add .buttons {
  padding: 15px 20px 22px;
  position: relative;
}
section.add_purse .add .buttons a.add_btn {
	width: 120px;
	border: 2px solid #e7583a;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	padding: 7px;
	text-align: center;
}
section.add_purse .add .buttons .clear {
	border: 0;
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	vertical-align: top;
	display: inline-block;
	padding: 7px 37px;
	background-color: transparent;
}
section.add_purse .add .buttons:after {
	content: '';
	position: absolute;
	width: 70px;
	height: 1px;
	background-color: #808080;
  bottom: 30px;
  left: 181px;
}
section.page_purse {
	padding: 50px 0;
}
section.page_purse .balance p.title {
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
	padding: 3px 0;
}
section.page_purse .balance {
	padding: 50px 0 0 350px;
}
section.page_purse .balance .balance_block {
	background-color: #1f2125;
	width: 23%;
	max-width: 285px;
	border-bottom: 2px solid #e7583a;
  margin-top: 49px;
  display: inline-block;
  margin-right: 17px;
}
section.page_purse .balance .balance_block:nth-child(5) {
	margin: 0;
}
section.page_purse .balance .balance_block b {
	display: block;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
  padding: 11px 19px;
}
section.page_purse .balance .balance_block p {
	color: #ffffff;
	font-size: 30px;
	font-weight: 300;
	padding: 1px 18px 18px;
}
section.page_purse .balance .transfer,
section.page_purse .balance .history {
	background-color: #1f2125;
  max-width: 1200px;
  width: 97.5%;
  margin: 60px 0 0;
 	padding: 17px 20px;
}
section.page_purse .balance .transfer p.title,
section.page_purse .balance .history p.title {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	position: relative;
}
section.page_purse .balance .transfer p.title:after,
section.page_purse .balance .history p.title:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;
	background-color: #e7583a;
	bottom: -9px;
	left: 0;
}
section.page_purse .balance .transfer form div label {
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
}
section.page_purse .balance .transfer form .select,
section.page_purse .balance .transfer form .comment,
section.page_purse .balance .history form .comment,
section.page_purse .balance .history form .select {
  display: inline-block;
  padding: 35px 0 0;
	margin-right: 17px;
	width: 22.5%;
	max-width: 265px;
}
section.page_purse .balance .transfer form .sum_transfer,
section.page_purse .balance .transfer form .sum_write_off,
section.page_purse .balance .history form .sum_transfer,
section.page_purse .balance .history form .sum_write_off {
	max-width: 285px;
	display: inline-block;
	width: 24.35%;
	margin-right: 17px;
}
section.page_purse .balance .history form {
  margin: 2px 0;
}
section.page_purse .balance .transfer form input:not([type="submit"]),
section.page_purse .balance .history form input:not([type="submit"]),
section.page_purse .balance .history form input:not([type="reset"]) {
	max-width: 285px;
	background-color: #36383b;
  padding: 0 20px;
}
section.page_purse .balance .transfer form .comment,
section.page_purse .balance .history form .comment {
	margin-right: 0;
}
section.page_purse .balance .transfer form .comment input,
section.page_purse .balance .history form .comment input {
	width: 100%;
}
section.page_purse .balance .transfer form .select select,
section.page_purse .balance .history form .select select {
	display: block;
	max-width: 265px;
	background-color: #36383b;
	border: 0;
	color: #ffffff;
	padding: 0 9px;
	letter-spacing: -1px;
	width: 100%;
}
section.page_purse .balance .transfer form .form-control::-moz-placeholder,
section.page_purse .balance .history form .form-control::-moz-placeholder {
  font-size: 16px !important;
  color: #808080;
	font-weight: 400;
}
section.page_purse .balance .transfer form .form-control:-ms-input-placeholder,
section.page_purse .balance .history form .form-control:-ms-input-placeholder {
  font-size: 16px !important;
  color: #808080;
	font-weight: 400;
}
section.page_purse .balance .transfer form .form-control::-webkit-input-placeholder,
section.page_purse .balance .history form .form-control::-webkit-input-placeholder {
  font-size: 16px !important;
  color: #808080;
	font-weight: 400;
}
section.page_purse .balance .transfer form .form-group,
section.page_purse .balance .history form .form-group {
	margin: 0;
}
section.page_purse .balance .transfer form .commission {
	display: inline-block;
  padding: 14px 0;
  margin-right: 35px;
}
section.page_purse .balance .transfer form .commission p {
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
  padding: 0 0 3px;
}
section.page_purse .balance .transfer form .commission b {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
}
section.page_purse .balance .transfer form input[type="submit"] {
	display: block;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	width: 120px;
	background-color: #1f2125;
	border: 2px solid #e7583a;
  padding: 8px 0;
  margin: 12px 0 4px;
}
section.page_purse .balance .history form .select select {
	display: block;
	padding: 9px 9px;
	background-color: #0099de;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border: 0;
  margin-bottom: 7px;
}
section.page_purse .balance .history form div label {
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
}
section.page_purse .balance .history form input {
  padding: 0 21px;
}
section.page_purse .balance .history form .date.first input {
	width: 285px;
	width: 100%;
}
section.page_purse .balance .history form .date input {
	background-color: #36383b;
}
section.page_purse .balance .history form .buttons {
  padding: 16px 0;
  position: relative;
}
section.page_purse .balance .history form .buttons input[type="submit"] {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	width: 120px;
	border: 2px solid #e7583a;
	display: inline-block;
  padding: 9px 0;
	background-color: #1f2125;
}
section.page_purse .balance .history form .buttons .clear {
	display: inline-block;
	border: 0;
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	position: relative;
	vertical-align: top;
  padding: 10px 37px;
  background-color: transparent;
}
section.page_purse .balance .history form .buttons:after {
	content: '';
	position: absolute;
	width: 70px;
	height: 1px;
	background-color: #808080;
  left: 161px;
  bottom: 26px;
}
section.page_purse .balance .table_transfer {
	width: 100%;
}
section.page_purse .balance .table_transfer tr > td {
	width: 285px;
	height: 30px;
	margin-bottom: 20px;
}
section.page_purse .balance .table_transfer p.lab {
	color: #808080;
	font-size: 14px;
	font-weight: 300;
	padding: 9px 0;
}
section.page_purse .balance .table_transfer b {
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	padding: 13px 0 8px;
}
section.page_purse .balance .table_transfer span {
	display: block;
	text-align: center;
	width: 100%;
}
section.page_purse .balance .table_transfer.last span > img.plus_minus {
	display: block;
	margin: auto;
	text-align: center;
}
section.page_purse .balance .table_transfer.last {
	background-color: #1f2125;
	width: 100%;
}
section.page_purse .balance .table_transfer.last tr > td:first-child {
	width: 12%;
}
section.page_purse .balance .table_transfer.last tr > td:nth-child(2) {
	width: 20%;
}
section.page_purse .balance .table_transfer.last tr > td:nth-child(3) {
  width: 19.75%;
}
section.page_purse .balance .table_transfer.last tr > td:nth-child(4) {
	width: 20%;
}
section.page_purse .balance .table_transfer i {
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	margin-left: 13px;
}
section.page_purse .balance .transfer form.collapse {
	position: relative;
}
section.page_purse .balance .transfer p.title.tri:before,
section.page_purse .balance .history p.title.tri:before {
	display: none;
	content: '';
	position: absolute;
	border: 6px solid transparent;	
	border-top: 8px solid #ffffff;
	float: right;
	right: 0;
	top: 11px;
}
section.page_purse .balance .transfer form.collapse.in:before,
section.page_purse .balance .history form.collapse.in:before {
	display: none;
	content: '';
	position: absolute;
	border: 6px solid #1f2125;	
	border-top: 8px solid #ffffff;
	float: right;
	right: 0;
	top: -23px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
section.page_purse .balance .table_transfer.last {
	display: none;
}
section.support {
	padding: 50px 0;
}
section.support .ts {
	padding: 50px 0 0 350px;
}
section.support .ts p.main_title {
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
	padding: 4px 0 0;
}
section.support .ts .make_ticket {
	background-color: #1f2125;
  max-width: 1200px;
  width: 97.5%;
  margin: 54px 0 0;
 	padding: 17px 20px;
}
section.support .ts .make_ticket p.title {
	position: relative;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
  padding: 0 0 11px;
}
section.support .ts .make_ticket p.title:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;
	background-color: #e7583a;
	bottom: 0;
	left: 0;
}
section.support .ts .make_ticket p.title.tri:before {
	display: none;
	content: '';
	position: absolute;
	border: 6px solid transparent;	
	border-top: 8px solid #ffffff;
	float: right;
	right: 0;
	top: 14px;
}
section.support .ts .make_ticket form {
	position: relative;
}
section.support .ts .make_ticket form.collapse.in:before {
	display: none;
	content: '';
	position: absolute;
	border: 6px solid #1f2125;	
	border-top: 8px solid #ffffff;
	float: right;
	right: 0;
	top: -35px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
section.support .ts .make_ticket form {
  padding: 26px 0 0;
}
section.support .ts .make_ticket form .form-group {
	margin: 0;
}
section.support .ts .make_ticket form div label {
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
}
section.support .ts .make_ticket form input:not([type="submit"]) {
	background-color: #36383b;
	margin-bottom: 20px;
	padding: 0 20px;
}
section.support .ts .make_ticket form textarea {
	background-color: #36383b;
	padding: 7px 19px 17px;
}
section.support .ts .make_ticket form .form-control::-moz-placeholder {
  font-size: 16px !important;
  color: #808080;
	font-weight: 400;
}
section.support .ts .make_ticket form .form-control:-ms-input-placeholder {
  font-size: 16px !important;
  color: #808080;
	font-weight: 400;
}
section.support .ts .make_ticket form .form-control::-webkit-input-placeholder {
  font-size: 16px !important;
  color: #808080;
	font-weight: 400;
}
section.support .ts .make_ticket form .buttons {
  padding: 16px 0 0;
  position: relative;
}
section.support .ts .make_ticket form .buttons input[type="submit"] {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	width: 120px;
	border: 2px solid #e7583a;
	display: inline-block;
  padding: 9px 0;
	background-color: #1f2125;
}
section.support .ts .make_ticket form .buttons .clear {
	border: 0;
	background-color: transparent;
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	position: relative;
	vertical-align: top;
  padding: 10px 37px;
}
section.support .ts .make_ticket form .buttons:after {
	content: '';
	position: absolute;
	width: 70px;
	height: 1px;
	background-color: #808080;
  left: 161px;
  bottom: 29px;
}
section.support .ts .your_tickets {
	background-color: #1f2125;
  max-width: 1200px;
  width: 97.5%;
  margin: 60px 0 0;
 	padding: 17px 0px;
}
section.support .ts .your_tickets p.title {
	position: relative;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
  padding: 0 20px 11px;
}
section.support .ts .make_ticket p.title:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;
	background-color: #e7583a;
	bottom: 0;
	left: 0;
}
section.support .ts .your_tickets p.title:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;
	background-color: #e7583a;
	bottom: 0;
	left: 20px;
}
section.support .ts .your_tickets .table_tickets {
	width: 100%;
  padding: 18px 0;
}
section.support .ts .your_tickets .table_tickets table {
	display: block;
	width: 100%;
}
section.support .ts .your_tickets .table_tickets tr:hover {
	background-color: #1c1c1c;
}
section.support .ts .your_tickets .table_tickets tr > td {
	width: 285px;
	height: 37px;
	margin-bottom: 20px;
}
section.support .ts .your_tickets .table_tickets tr > td a.ticket {
	display: block;
}
section.support .ts .your_tickets .table_tickets p.lab {
	color: #808080;
	font-size: 14px;
	font-weight: 300;
	padding: 9px 0;
}
section.support .ts .your_tickets .table_tickets p.lab.pad,
section.support .ts .your_tickets .table_tickets .pad {
	padding: 9px 20px;
}
section.support .ts .your_tickets .table_tickets b {
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	padding: 13px 0 8px;
}
section.support .ts .your_tickets .table_tickets tr > td:first-child {
	width: 10.5%;
}
section.support .ts .your_tickets .table_tickets tr > td:nth-child(2) {
	width: 16.5%;
}
section.support .ts .your_tickets .table_tickets tr > td:nth-child(3) {
  width: 32%;
}
section.support .ts .your_tickets .table_tickets tr > td:nth-child(4) {
	width: 7%;
}
section.support .ts .your_tickets .table_tickets i {
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	margin-left: 13px;
}







section.opened_ticket {
	padding: 50px 0;
}
section.opened_ticket .ticket {
	padding: 60px 0 0 350px;
}
section.opened_ticket .ticket .op_tick {
	background-color: #1f2125;
  max-width: 1200px;
  width: 97.5%;
 	padding: 17px 20px 20px;
}
section.opened_ticket .ticket .op_tick p.title {
	display: inline-block;
	position: relative;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
  padding: 0 0px 11px;
}
section.opened_ticket .ticket .op_tick p.title:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;
	background-color: #e7583a;
	bottom: 0;
	left: 0;
}
section.opened_ticket .ticket .op_tick .mark {
	display: inline-block;
	position: relative;
	float: right;
	font-size: 18px;
	font-weight: 400;
	background-color: #1f2125;
	color: #ffffff;
	padding: 0;
}
section.opened_ticket .ticket .op_tick .dialog_window {
	background-color: #282a2d;
	padding: 20px;
	position: relative;
	height: 430px;
	margin-top: 11px;
}
section.opened_ticket .ticket .op_tick .dialog_window .alignment {
	position: absolute;
	bottom: 0;
	width: 97%;
	max-height: 400px;
	overflow-y: scroll;
}
section.opened_ticket .ticket .op_tick .dialog_window .alignment::-webkit-scrollbar-track {
	background-color: #282a2d;
}
section.opened_ticket .ticket .op_tick .dialog_window .alignment::-webkit-scrollbar-thumb {
	background-color: #e7583a;
}
section.opened_ticket .ticket .op_tick .dialog_window .alignment::-webkit-scrollbar{
	width: 10px;
}
section.opened_ticket .ticket .op_tick .dialog_window .client {
	display: block;
	float: right;
	background-color: #1c1c1c;
	width: 47%;
	right: 0;
	bottom: 0;
	padding: 10px;
	max-width: 500px;
	margin-right: 27px;
	margin-bottom: 20px;
}
section.opened_ticket .ticket .op_tick .dialog_window .client p.name {
	color: #e7583a;
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 12px;
}
section.opened_ticket .ticket .op_tick .dialog_window .client .text {
	color: #ffffff;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
}
section.opened_ticket .ticket .op_tick .dialog_window .client p.date {
	float: right;
	color: #808080;
	font-size: 12px;
	font-weight: 300;
}
section.opened_ticket .ticket .op_tick .dialog_window .manager {
	display: block;
	float: left;
	background-color: #1c1c1c;
	width: 47%;
	left: 0;
	bottom: 0;
	padding: 10px;
	max-width: 500px;
	margin-bottom: 20px;
}
section.opened_ticket .ticket .op_tick .dialog_window .manager p.name {
	color: #e7583a;
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 12px;
}
section.opened_ticket .ticket .op_tick .dialog_window .manager p.name > b {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	margin-left: 14px;
}
section.opened_ticket .ticket .op_tick .dialog_window .manager .text {
	color: #ffffff;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
}
section.opened_ticket .ticket .op_tick .dialog_window .manager p.date {
	float: right;
	color: #808080;
	font-size: 12px;
	font-weight: 300;
}
section.opened_ticket .ticket .op_tick form div input {
	padding: 0 20px;
	background-color: #36383b;
}
section.opened_ticket .ticket .op_tick form .form-control::-moz-placeholder {
  font-size: 16px !important;
  color: #808080;
	font-weight: 400;
}
section.opened_ticket .ticket .op_tick form .form-control:-ms-input-placeholder {
  font-size: 16px !important;
  color: #808080;
	font-weight: 400;
}
section.opened_ticket .ticket .op_tick form .form-control::-webkit-input-placeholder {
  font-size: 16px !important;
  color: #808080;
	font-weight: 400;
}
.dz-details {
  border-radius: 20px;
  overflow: hidden;
  width: 200px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 10; 
}
.dropzone .dz-preview {
	max-width: 200px;
	height: 40px;
	display: inline-block;
  margin: 9px 10px 0;
	position: relative;
}
.dropzone.dz-clickable span {
  background-color: transparent;
  overflow: hidden;
  padding: 6px 6px 8px 41px;
  text-align: center;
  background-image: url(../images/clip.png);
  background-repeat: no-repeat;
  background-position: 18px 8px;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  width: 209px;
  border: 1px dashed #808080;
  cursor: pointer !important;
  height: 40px;
  overflow: hidden;
  padding: 8px 0 8px 34px;
  margin: 9px 0 0;
  display: inline-block;
  left: 0;
}
.dropzone .dz-preview .dz-details .dz-filename {
	width: 200px;
}
.dropzone .dz-preview .dz-details .dz-filename span {
	background: transparent;
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	width: 100%;
}
.dropzone .dz-message {
  text-align: center;
  margin: 0; 
  display: inline-block;
  margin: 0;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
	opacity: 0;
}
.dropzone .dz-preview.dz-error .dz-error-message {
	display: none;
}
.dropzone .dz-preview .dz-error-message {
	display: none;
}
.dropzone .dz-preview .dz-details .dz-size,
.dropzone .dz-preview .dz-success-mark svg, 
.dropzone .dz-preview .dz-error-mark svg {
	display: none;
}
.dropzone .dz-preview .dz-remove {
	background-image: url(../images/cross.png);
	width: 10px;
	height: 10px;
	position: absolute;
	top: 14px;
	right: 0;
	display: inline-block;
}
.dropzone .dz-preview .dz-details {
  width: 100%;
  height: 40px;
  padding: 0;
}
.dropzone .dz-preview .dz-details .dz-filename {
	width: 100%;
	height: 40px;
}
.dropzone .dz-preview .dz-details .dz-filename span {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	background-color: #1f2125;
}
.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 0;
  background-color: #1f2125; 
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 0;
  color: #808080;
	font-size: 16px;
	font-weight: 400;
}
section.opened_ticket .ticket .op_tick form .buttons {
  padding: 16px 0 0;
}
section.opened_ticket .ticket .op_tick form .buttons input[type="submit"] {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	width: 125px;
	border: 2px solid #e7583a;
	display: inline-block;
  padding: 9px 0;
	background-color: #1f2125;
}
section.opened_ticket .ticket .op_tick form .buttons a.clear {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	position: relative;
	vertical-align: top;
  padding: 10px 37px;
}
section.opened_ticket .ticket .op_tick form .buttons a.clear:after {
	content: '';
	position: absolute;
	width: 73px;
	height: 1px;
	background-color: #808080;
  left: 38px;
  bottom: 8px;
}


/*sprite with stars*/

#reviewStars-input input:checked ~ label, 
#reviewStars-input label, 
#reviewStars-input label:hover, 
#reviewStars-input label:hover ~ label {
  background: url('../images/stars_sprite.png') no-repeat;
}
#reviewStars-input {
	padding: 10px 0 0;
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/
  position: relative;
  float: right;
}
#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  z-index: 0;
}
#reviewStars-input input:checked ~ label {
  background-position: 0 0;
  height: 15px;
  width: 15px;
}
#reviewStars-input label {
  background-position: 0 -15px;
  height: 15px;
  width: 15px;
  float: right;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  z-index: 1;
}
#reviewStars-input label:hover, 
#reviewStars-input label:hover ~ label {
  background-position: 0 0;
  height: 15px;
  width: 15px;
}





@media (max-width: 1440px) {
	.container {
		width: 100%;
	}
	section.page_purse .balance .balance_block {
		max-width: 235px;
		min-width: 220px;
	}
	section.page_purse .balance .transfer,
	section.page_purse .balance .history {
	  max-width: 1000px;
	  width: 98%;
	}
	section.page_purse .balance .history form .select,
	section.page_purse .balance .history form .operation_id,
	section.page_purse .balance .history form .date,
	section.page_purse .balance .transfer form .select {
		width: 22%;
		max-width: 215px;
	}
	section.page_purse .balance .transfer form .comment,
	section.page_purse .balance .history form .comment {
		width: 22%;
		max-width: 205px;
	}
	section.page_purse .balance .transfer form .sum_transfer,
	section.page_purse .balance .transfer form .sum_write_off {
		max-width: 235px;
	}
	section.page_purse .balance .transfer form input:not([type="submit"]),
	section.page_purse .balance .history form input:not([type="submit"]),
	section.page_purse .balance .history form input:not([type="reset"]) {
		max-width: 235px;
	}
	section.page_purse .balance .table_transfer.last {
		display: none;
	}
	section.opened_ticket .ticket .op_tick .dialog_window .alignment {
    width: 96%;
  }
	section.opened_ticket .ticket .op_tick .dialog_window .manager,
	section.opened_ticket .ticket .op_tick .dialog_window .client {
    width: 53%;
  }
}
@media (max-width: 1366px) {
	.container {
		width: 100%;
	}
	section.page_purse .balance .transfer,
	section.page_purse .balance .history {
	  max-width: 950px;
	  width: 98%;
	}
	section.page_purse .balance .history form .select,
	section.page_purse .balance .history form .operation_id,
	section.page_purse .balance .history form .date,
	section.page_purse .balance .transfer form .select {
		width: 22%;
		max-width: 200px;
	}
	section.page_purse .balance .transfer form .comment,
	section.page_purse .balance .history form .comment {
		width: 22%;
		max-width: 200px;
	}
	section.page_purse .balance .transfer form .sum_transfer,
	section.page_purse .balance .transfer form .sum_write_off {
		max-width: 220px;
	}
	section.page_purse .balance .transfer form input,
	section.page_purse .balance .history form .operation_id input {
		max-width: 220px;
	}
	section.page_purse .balance .table_transfer.last {
		display: none;
	}
	section.opened_ticket .ticket .op_tick .dialog_window .alignment {
    width: 95%;
  }
}
@media (max-width: 1365px) {
	.container {
		width: 100%;
	}
	section.page_purse .balance .balance_block p {
		font-size: 24px;
	}
	section.page_purse .balance .balance_block {
		max-width: 200px;
		min-width: 200px;
	}
	section.page_purse .balance .transfer, 
	section.page_purse .balance .history {
    max-width: 862px;
    width: 98%;
	}
	section.page_purse .balance .transfer form .comment,
	section.page_purse .balance .history form .comment {
		width: 21%;
	}
	section.page_purse .balance .table_transfer.last {
		display: none;
	}
}
@media (max-width: 1280px) {
	.container {
		width: 100%;
	}
	section.purse .purse_card {
		width: 275px;
		margin-right: 17px;
	}
	header ul.main_menu > li > a {
    padding: 15px 0 14px 8px;
	}
	header ul.main_menu > li > a.router-link-active:after {
    left: 27px;
	}
	section.page_purse .balance .history form .select,
	section.page_purse .balance .history form .operation_id,
	section.page_purse .balance .history form .date,
	section.page_purse .balance .transfer form .select {
		width: 22%;
		max-width: 180px;
	}
	section.page_purse .balance .transfer form .comment,
	section.page_purse .balance .history form .comment {
		width: 21%;
		max-width: 180px;
	}
	section.page_purse .balance .transfer form .sum_transfer,
	section.page_purse .balance .transfer form .sum_write_off {
		max-width: 200px;
	}
	section.page_purse .balance .transfer form input:not([type="submit"]),
	section.page_purse .balance .history form input:not([type="submit"]),
	section.page_purse .balance .history form input:not([type="reset"]) {
		max-width: 200px;
	}
	section.page_purse .balance .table_transfer.last {
		display: none;
	}
}
@media (max-width: 1279px) and (min-width: 1025px) {
	section.page_purse .balance .transfer,
	section.page_purse .balance .history {
		width: 600px;
	}
	section.page_purse .balance .balance_block {
		min-width: 290px;
    max-width: 400px;
    width: 47%;
	}
	section.page_purse .balance .transfer, 
	section.page_purse .balance .history {
    min-width: 600px;
    max-width: 820px;
    width: 97%;
	}
	section.page_purse .balance .history form .select,
	section.page_purse .balance .history form .operation_id,
	section.page_purse .balance .history form .date,
	section.page_purse .balance .transfer form .select {
		min-width: 270px;
		max-width: 380px;
    width: 48.5%;
	}
	section.page_purse .balance .transfer form .select select,
	section.page_purse .balance .history form .select select {
		max-width: 380px;
	}
	section.page_purse .balance .transfer form .comment,
	section.page_purse .balance .history form .comment {
		min-width: 270px;
		max-width: 380px;
		width: 47.5%;
	}
	section.page_purse .balance .transfer form .sum_transfer,
	section.page_purse .balance .history form .sum_transfer {
		min-width: 270px;
		max-width: 380px;
		width: 47.5%;
		margin-right: 0;
	}
	section.page_purse .balance .transfer form .sum_write_off,
	section.page_purse .balance .history form .sum_write_off {
		min-width: 270px;
		max-width: 380px;
		width: 48.5%;
		margin-right: 17px;
	}
	section.page_purse .balance .transfer form input:not([type="submit"]),
	section.page_purse .balance .history form input:not([type="submit"]) {
    min-width: 270px;
    max-width: 380px;
    width: 100%;
	}
	section.page_purse .balance .history form input[type="reset"] {
    min-width: 145px;
    max-width: 145px;
	}
	section.page_purse .balance .history .table_transfer {
		display: none;
	}
	section.page_purse .balance .table_transfer.last {
		display: none;
	}
	section.support .ts .your_tickets .table_tickets p.lab.pad,
	section.support .ts .your_tickets .table_tickets .pad {
		padding: 9px 20px;
	}
	section.support .ts .your_tickets .table_tickets b {
		font-size: 13px;
	}
	section.support .ts .your_tickets .table_tickets i {
		font-size: 13px;
	}
}
@media (max-width: 1024px) {
	.container {
		width: 100%;
	}
	header .logo img {
    margin-left: 50px;
	}
	header ul.main_menu {
		display: none;
	}
	aside .left_side .burger img {
	  opacity: 1;
	}
	section.page_purse .balance .balance_block {
    max-width: 46%;
    min-width: 290px;
    width: 50%;
	}
	section.page_purse .balance .transfer, 
	section.page_purse .balance .history {
    min-width: 600px;
    width: 97%;
	}
	section.page_purse .balance .history form .select,
	section.page_purse .balance .history form .operation_id,
	section.page_purse .balance .history form .date,
	section.page_purse .balance .transfer form .select {
		min-width: 270px;
		max-width: 380px;
    width: 48.5%;
	}section.page_purse .balance .history .table_transfer {
		display: none;
	}
	section.page_purse .balance .history .table_transfer {
		display: none;
	}
	section.page_purse .balance .transfer form .comment,
	section.page_purse .balance .history form .comment {
		min-width: 270px;
		max-width: 380px;
		width: 47.5%;
	}
	section.page_purse .balance .transfer form .sum_transfer,
	section.page_purse .balance .history form .sum_transfer {
		min-width: 270px;
		max-width: 380px;
		width: 47.5%;
		margin-right: 0;
	}
	section.page_purse .balance .transfer form .sum_write_off,
	section.page_purse .balance .history form .sum_write_off {
		min-width: 270px;
		max-width: 380px;
		width: 48.5%;
		margin-right: 17px;
	}
	section.page_purse .balance .transfer form input:not([type="submit"]),
	section.page_purse .balance .history form input:not([type="submit"]) {
    min-width: 270px;
    max-width: 380px;
    width: 100%;
	}
	section.page_purse .balance .history form input[type="reset"] {
    min-width: 145px;
    max-width: 145px;
	}
	section.page_purse .balance .history .table_transfer {
		display: none;
	}
	section.page_purse .balance .table_transfer.last {
		padding: 30px 0;
		margin: 60px 0 0;
		display: block;
    max-width: 600px;
    min-width: 520px;
    width: 96.25%;
	}
	section.page_purse .balance .table_transfer.last td:first-child p.lab {
		padding-left: 20px;
	}
	section.page_purse .balance .table_transfer.last b,
	section.page_purse .balance .table_transfer.last i {
		font-size: 18px;
	}
	section.support .ts .your_tickets .table_tickets b {
		font-size: 13px;
	}
	section.support .ts .your_tickets .table_tickets i {
		font-size: 13px;
	}
	section.opened_ticket .ticket .op_tick .dialog_window .alignment {
    width: 96%;
	}
	section.opened_ticket .ticket .op_tick .dialog_window .manager,
	section.opened_ticket .ticket .op_tick .dialog_window .client {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
  section.opened_ticket .ticket .op_tick .dialog_window .alignment {
    width: 94%;
  }
}
@media (max-width: 1023px) {
	.container {
		width: 100%;
	}
	section.page_purse .balance {
    padding: 50px 0 0 50px;
	}
	aside .right_side.open {
		-webkit-transform: translate(0%);
    -ms-transform: translate(0%);
    transform: translate(0%);
	}
	aside .right_side {
		-webkit-transform: translate(calc(-100%));
		-ms-transform: translate(calc(-100%));
		transform: translate(calc(-100%));
	}
	section.page_purse .balance .transfer, 
	section.page_purse .balance .history {
    min-width: 600px;
    max-width: 94.5%;
	}
	section.page_purse .balance .history form .select,
	section.page_purse .balance .history form .operation_id,
	section.page_purse .balance .history form .date,
	section.page_purse .balance .transfer form .select {
		min-width: 560px;
		max-width: 1000px;
    width: 100%;
	}
	section.page_purse .balance .transfer form .select select,
	section.page_purse .balance .history form .select select {
		max-width: 1000px;
	}
	section.page_purse .balance .transfer form .comment,
	section.page_purse .balance .history form .comment {
		min-width: 560px;
		max-width: 1000px;
		width: 100%;
		padding-top: 0;
	}
	section.page_purse .balance .transfer form .sum_transfer,
	section.page_purse .balance .history form .sum_transfer,
	section.page_purse .balance .transfer form .sum_write_off,
	section.page_purse .balance .history form .sum_write_off {
		min-width: 560px;
		max-width: 1000px;
		width: 100%;
		margin-right: 0;
	}
	section.page_purse .balance .transfer form input:not([type="submit"]),
	section.page_purse .balance .history form input:not([type="submit"]) {
    min-width: 560px;
    max-width: 1000px;
    width: 100%;
	}
	section.page_purse .balance .history form input[type="reset"] {
    min-width: 145px;
    max-width: 145px;
	}
	section.page_purse .balance .history .table_transfer {
		display: none;
	}
	section.page_purse .balance .table_transfer.last {
		min-width: 600px;
    max-width: 94.5%;
	}
	section.support .ts {
    padding: 50px 0 0 50px;
	}
	section.opened_ticket .ticket {
    padding: 50px 0 0 50px;
	}
	section.opened_ticket .ticket .op_tick p.title {
		font-size: 24px;
	}
	section.opened_ticket .ticket .op_tick .dialog_window .manager,
	section.opened_ticket .ticket .op_tick .dialog_window .client {
		max-width: 1000px;
	}
	section.opened_ticket .ticket .op_tick .dialog_window .manager,
	section.opened_ticket .ticket .op_tick .dialog_window .client {
		width: 97%;
	}
	section.opened_ticket .ticket .op_tick .dialog_window .client p.name,
	section.opened_ticket .ticket .op_tick .dialog_window .client .text,
	section.opened_ticket .ticket .op_tick .dialog_window .manager p.name,
	section.opened_ticket .ticket .op_tick .dialog_window .manager .text {
		font-size: 18px;
		line-height: 25px;
	}
	section.opened_ticket .ticket .op_tick .dialog_window .client p.date,
	section.opened_ticket .ticket .op_tick .dialog_window .manager p.date {
		font-size: 16px;
	}
	section.opened_ticket .ticket .op_tick .dialog_window .alignment {
    width: 95%;
  }
  section.add_purse .add {
		margin: 50px 0 0 50px;
	}
}
@media (max-width: 720px) {
	.container {
		width: 100%;
	}
	header .user p.name, header .user p.surname {
    padding: 15px 0 15px 10px;
	}
	header .user a.notification {
    padding: 16px 5px;
	}
	header .user a.message {
    padding: 16px 5px;
	}
	header .user a.notification b {
		right: 0;
	}
	header .user a.message b {
		right: 0;
	}
	header .user a.logout:after {
		left: 10px;
	}
	section.add_purse .add {
		margin: 50px 0 0 50px;
		width: 600px;
	}
	section.page_purse .balance .transfer p.title.tri:before,
	section.page_purse .balance .history p.title.tri:before {
		display: inline-block;
	}
	section.page_purse .balance .transfer form.collapse.in:before,
	section.page_purse .balance .history form.collapse.in:before {
		display: inline-block;
	}
	section.page_purse .balance .history form .select,
	section.page_purse .balance .history form .operation_id,
	section.page_purse .balance .history form .date,
	section.page_purse .balance .transfer form .select {
		min-width: 560px;
		max-width: 1000px;
    width: 100%;
	}
	section.page_purse .balance .transfer form .select select,
	section.page_purse .balance .history form .select select {
		max-width: 1000px;
	}
	section.page_purse .balance .transfer form .comment,
	section.page_purse .balance .history form .comment {
		min-width: 560px;
		max-width: 1000px;
		width: 100%;
	}
	section.page_purse .balance .transfer form .sum_transfer,
	section.page_purse .balance .transfer form .sum_write_off {
		min-width: 560px;
		max-width: 1000px;
		width: 100%;
		margin-right: 0;
	}
	section.page_purse .balance .transfer form input:not([type="submit"]),
	section.page_purse .balance .history form input:not([type="submit"]) {
    min-width: 560px;
    max-width: 1000px;
    width: 100%;
	}
	section.page_purse .balance .history form input[type="reset"] {
    min-width: 145px;
    max-width: 145px;
	}
	section.page_purse .balance .history .table_transfer {
		display: none;
	}
	section.page_purse .balance .table_transfer.last b,
	section.page_purse .balance .table_transfer.last i {
		font-size: 16px;
	}
	section.page_purse .balance .transfer p.title.tri:before,
	section.page_purse .balance .history p.title.tri:before {
		display: inline-block;
	}
	section.support .ts .make_ticket p.title.tri:before {
		display: inline-block;
	}
	section.support .ts .make_ticket form.collapse.in:before {
		display: inline-block;
	}
	section.support .ts .make_ticket p.title {
		font-size: 26px;
	}
	section.support .ts .make_ticket form div label {
		font-size: 18px;
	}
	section.support .ts .make_ticket form .form-control::-moz-placeholder {
	  font-size: 24px !important;
	}
	section.support .ts .make_ticket form .form-control:-ms-input-placeholder {
	  font-size: 24px !important;
	}
	section.support .ts .make_ticket form .form-control::-webkit-input-placeholder {
	  font-size: 24px !important;
	}
	section.support .ts .make_ticket form .buttons .clear {
		font-size: 24px;
	}
	section.support .ts .make_ticket form .buttons:after {
		width: 103px;
    left: 218px;
	}
	section.support .ts .make_ticket form .buttons input[type="submit"] {
		width: 175px;
		font-size: 24px;
	}
	section.support .ts .make_ticket form .buttons a.clear {
		font-size: 24px;
	}
	section.support .ts .make_ticket form .buttons a.clear:after {
		width: 105px;
	}
	section.support .ts .your_tickets p.title {
		font-size: 24px;
	}
	section.support .ts .your_tickets .table_tickets b {
		font-size: 18px;
	}
	section.support .ts .your_tickets .table_tickets b.little_pad,
	section.support .ts .your_tickets .table_tickets p.lab.little_pad {
		padding: 9px 20px;
	}
	section.support .ts .your_tickets .table_tickets tr > td:first-child {
		display: none;
	}
	section.support .ts .your_tickets .table_tickets tr > td:nth-child(2) {
		display: none;
	}
	section.support .ts .your_tickets .table_tickets i {
		font-size: 18px;
	}
}
@media (max-width: 719px) {
	.container {
		width: 100%;
	}
	section.page_purse .balance .balance_block {
    max-width: 46%;
    min-width: 250px;
    width: 50%;
	}
	section.page_purse .balance .transfer, 
	section.page_purse .balance .history {
    min-width: 520px;
    max-width: 94.5%;
	}
	section.page_purse .balance .history form .select,
	section.page_purse .balance .history form .operation_id,
	section.page_purse .balance .history form .date,
	section.page_purse .balance .transfer form .select {
		min-width: 480px;
		max-width: 600px;
    width: 100%;
	}
	section.page_purse .balance .transfer form .select select,
	section.page_purse .balance .history form .select select {
		max-width: 600px;
	}
	section.page_purse .balance .transfer form .comment,
	section.page_purse .balance .history form .comment {
		min-width: 480px;
		max-width: 600px;
		width: 100%;
	}
	section.page_purse .balance .transfer form .sum_transfer,
	section.page_purse .balance .history form .sum_transfer,
	section.page_purse .balance .transfer form .sum_write_off,
	section.page_purse .balance .history form .sum_write_off {
		min-width: 480px;
		max-width: 600px;
		width: 100%;
		margin-right: 0;
	}
	section.page_purse .balance .transfer form input:not([type="submit"]),
	section.page_purse .balance .history form input:not([type="submit"]) {
    min-width: 480px;
    max-width: 600px;
    width: 100%;
	}
	section.page_purse .balance .history form input[type="reset"] {
    min-width: 145px;
    max-width: 145px;
	}
	section.page_purse .balance .history .table_transfer {
		display: none;
	}
	section.page_purse .balance .table_transfer.last {
		display: block;
	}
	section.page_purse .balance .table_transfer.last {
		min-width: 520px;
    max-width: 94.5%;
	}
}
@media (max-width: 690px) {
	.container {
		width: 100%;
	}
	section.purse .purse_card {
		width: 250px;
	}
	.buttons a:first-child i {
		display: none;
	}
	section.add_purse .add {
    width: 550px;
	}
	section.page_purse .balance .history .table_transfer {
		display: none;
	}
	section.page_purse .balance .table_transfer.last {
		display: block;
	}
}
@media (max-width: 640px) {
	.container {
		width: 100%;
	}
	section.entry {
    background-position: center 277px;
	}
	section.entry form.entry input {
		width: 560px;
		height: 61px;
		font-size: 24px;
	}
	section.entry form.entry input[type="submit"] {
		width: 175px;
	  padding: 12px 0;
	  font-size: 24px;
	}
	section.entry form.entry a.license {
	  font-size: 24px;
	}
	section.entry form.entry a.license:after {
		width: 221px;
	}
	.form-control::-moz-placeholder {
	  font-size: 24px !important;
	}
	.form-control:-ms-input-placeholder {
	  font-size: 24px !important;
	}
	.form-control::-webkit-input-placeholder {
	  font-size: 24px !important;
	}
	header .user a.logout:after {
		left: 11px;
	}
	header .user p.surname {
		display: none;
	}
	section.purse p.hello > i.surname {
		display: none;
	}
	header .user a.notification {
	  padding: 16px 18px;
	}
	header .user a.notification b {
	  right: 14px;
	}
	header .user a.message {
	  padding: 16px 12px;
	}
	header .user a.message b {
	  right: 7px;
	}
	header .user p.surname {
		display: none;
	}
	section.purse p.hello > i.surname {
		display: none;
	}
	section.add_purse .add {
		width: 520px;
	}
	section.page_purse .balance .history .table_transfer {
		display: none;
	}
	section.page_purse .balance .table_transfer.last {
		display: block;
	}
}






.form-control {
	color: white;
}


.balance-change-color {
    color: #ffee05 !important;
    font-weight: bold!important;
}